{erl_opts, [debug_info]}.
{ct_compile_opts, [export_all]}.
{cover_enabled, true}.
{cobertura_opts, [verbose]}.
{provider_hooks, [{pre, [{ct, escriptize}]},
                  {post, [{ct, cobertura}]}]}.

{plugins, [{ rebar3_cobertura, {git, "git://github.com/evilbluebeaver/rebar3_cobertura.git", {tag, "0.3.0"}}}]}.

{cover_export_enabled, true}.
