{erl_opts, [debug_info]}.
{ct_compile_opts, [export_all]}.
{cover_enabled, true}.
{deps, [{ covertool, ".*", {git, "git://github.com/idubrov/covertool.git", {branch, "master"}}}]}.
{coverme_opts, [verbose]}.
{provider_hooks, [{pre, []},
                  {post, [{ct, coverme}]}]}.

{plugins, [
    { rebar3_coverme, ".*", {git, "git://github.com/evilbluebeaver/rebar3_coverme.git", {tag, "0.1.2"}}}
]}.

{escript_main_app, covertool}.
