{erl_opts, [debug_info]}.
{ct_compile_opts, [export_all]}.
{cover_enabled, true}.
{deps, [{ covertool, ".*", {git, "git://github.com/idubrov/covertool.git", {tag, "1.2.0"}}}]}.
{coverme_opts, [verbose]}.
{provider_hooks, [{pre, [{ct, escriptize}]},
                  {post, [{ct, coverme}]}]}.

{plugins, [
    { rebar3_coverme, ".*", {git, "git://github.com/evilbluebeaver/rebar3_coverme.git", {tag, "0.1.2"}}}
]}.

{project_plugins, [
    {covertool, {git, "https://github.com/covertool/covertool.git", {branch, "master"}}}
]}.

{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{escript_main_app, covertool}.
